/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #269aff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-size: 35px;
}

 /* Barra de navegación */
 nav {
    background-color:  #f25413;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  
  nav {
    background-color: #f25413;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    border-style: solid;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin: 0 125px;
  }
  nav a {
    text-decoration: none;
    color: #fff;
  }

/* Contenido principal */
main {
    padding: 20px;
    text-align: center; /* Centrar el contenido */
}

main h2 {
    margin-top: 0;
    font-size: 28px; /* Tamaño de título más grande */
}

main p {
    line-height: 1.5em;
    font-size: 25px; /* Tamaño de párrafo más grande */
}

main ul {
    line-height: 1.5em;
    font-size: 25px; /* Tamaño de párrafo más grande */
}

main img {
    max-width: 100%;
}

/* Barra lateral */
aside {
    background-color:  #f2990c;
    color: red;
    padding: 30px;
    text-align: center; /* Centrar el contenido */
}

aside h3 {
    margin-top: 0;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside li {
    margin-bottom: 10px;
}
/*las labels*/
form label{
    font-size: 25px;
}
/*las txtbox*/
form input{
    font-size: 25px;
}
/*las txt*/
form textarea{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Pie de página */
footer {
    background-color: #269aff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    background-color: #269aff;
    margin: 0;
}
